// Body
$body-bg: #f8fafc;

// Typography
$font-family-primary: 'Titillium Web', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$u-black: rgba(0, 0, 0, 0.7);
$u-white: rgb(255, 255, 255);
$u-orange: #fea58d;
$u-green: #dfd68b;
$u-purple: #664b87;

$u-purple-a: rgba(102, 75, 135, 0.8);
$u-green-a: rgba(223, 214, 139, 0.8);
$u-orange-a: rgba(254, 165, 141, 0.8);

$u-alert-success: #8bdfac;
$u-alert-danger: #cd594d;