.icon-anim {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    .icon-anim span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: $u-purple;
    }
    
    
    
    .icon-anim span:nth-child(1) {
        top: 0px;
    }
    
    .icon-anim span:nth-child(2), .icon-anim span:nth-child(3) {
        top: 10px;
    }
    
    .icon-anim span:nth-child(4) {
        top: 20px;
    }
    
    .icon-anim.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    
    .icon-anim.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .icon-anim.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .icon-anim.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }
    

    button.navbar-toggler:focus { 
        outline: 0px;
    }   