footer {
    color: $u-green;
    font-weight: bold;
    background-color: $u-purple;
    a {
        color:$u-orange;
        font-weight: 400;
        &:hover {
            color: $u-orange-a;
        }
    }
    
    .nav {
        line-height: 14px;
    }
}